* {
	font: 14px Helevtica, Arial, sans-serif;
	background-color: #464646;
	color: #ffffff;
	text-transform: lowercase;

}

.container {
	padding-left: 10%;
	position: absolute;
	width: 80%;
	height: 100%;
	overflow: hidden;
}

a:hover, a:hover *, * a:hover { /* links */
	color: #4488aa !important;
}

ul {
	padding-left: 0px;
	list-style-type: none;
}

a {
	display: block;
	text-decoration: none;
}


.collection { /* collection => one link group */
	width: 30%;
	float: left;
	font-weight: bold;
	font: 12px Helevtica, Arial, sans-serif;
	word-wrap:break-word;
}

.collection .linkbox {
	position: relative;
	width: auto;
	height: 100%;
}

.collection .linkbox * {
	position: relative;
	width: auto;
	height: 100%;
}

.collection .linkbox ul > * > * {
	padding-left: 2px;
}

.collection .linkbox .oldlinks li a:hover {
	background: #353535;
}

.collection .linkbox h1 {
	height: auto;
	font: 18px Helevtica, Arial, sans-serif;
	font-weight: bold;
}



.collection .linkbox .newlinks li a {
	background: #464679;
}

.collection .linkbox .newlinks li a:hover {
	background: #353535;
}

/* Border around children of lists */
.collection .linkbox > ul li:first-child {
	border-top: 1px solid #353535;
	border-left: 1px solid #353535;
	border-right: 1px solid #353535;
	border-bottom: 1px dashed #353535;
}

.collection .linkbox > ul li:not(:first-child) {
	border-left: 1px solid #353535;
	border-right: 1px solid #353535;
	border-bottom: 1px dashed #353535;
}

.collection .linkbox > ul li:last-child {
	border-bottom: 1px solid #353535;
	border-left: 1px solid #353535;
	border-right: 1px solid #353535;
}

.collection .linkbox .newlinks a:after {
	content:" (new)";
	font: 8px Helevtica, Arial, sans-serif;
}
